# Python
__pycache__/
*.py[cod]
*$py.class

# Template
eCommerce_template/

# Env
virtualenv/
env/
venv/
ENV/
.venv/
.env
*.env

# Django Stuff:
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
local_settings.py

# VSCode
.vscode/

# Pytest
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.tox/

# mypy
.mypy_cache/

# pipenv
Pipfile.lock

# Build
build/
dist/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# System files
.DS_Store
Thumbs.db
